<div class="col-6">
    <div class="tab-content" id="v-pills-tabMessages">
        <div aria-labelledby="v-pills-messages-tab" class="tab-pane fade show active" id="v-pills-sendmessage"
             role="tabpanel">
            <br>
            <h3> Wysyłanie wiadomości</h3>
            <br>
            <div class="modal-body">
                <form id="sendMessage" method="post" th:action="@{/messages}"
                      th:object="${messageToInsert}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Adresat</label>
                            <select class="custom-select" th:field="*{receiver}">
                                <option th:each="user : ${allUsers}"
                                        th:text="${user.name} + ' ' + ${ user.surname}"
                                        th:value="${user.email}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Temat</label>
                            <input class="form-control" th:field="*{topic}">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Tekst</label>
                            <textarea class="form-control" placeholder="Wpisz tekst wiadomości" rows="6"
                                      th:field="*{text}"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer  col-md-6">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Anuluj</button>
                <button class="btn btn-primary" form="sendMessage" name="action" type=submit value="send">Wyślij
                </button>
            </div>
        </div>
    </div>
</div>
