<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

    <title>Gestor - Twój elektroniczny dziennik</title>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Panel nauczyciela</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="start" role="button">
                    START
                </a>

                <div aria-labelledby="start" class="dropdown-menu">
                    <a class="dropdown-item" href="/login">Logowanie</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/registeruser">Rejestracja</a>
                </div>
            </li>


        </ul>
    </div>


</nav>


<div class="row">
    <div class="col-1">
        <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">

            <a aria-controls="v-pills-info" aria-selected="false" class="nav-link"
               href="/teacher/info" id="v-pills-info-tab" role="tab">Info</a>

            <a aria-controls="v-pills-parents" aria-selected="true" class="nav-link active"
               href="/teacher/parents" id="v-pills-parents-tab" role="tab">Zarządzaj rodzicami</a>

            <a aria-controls="v-pills-grades" aria-selected="false" class="nav-link"
               href="/subjects" id="v-pills-grades-tab" role="tab">Zarządzaj ocenami</a>

            <a aria-controls="v-pills-messages" aria-selected="false" class="nav-link"
               href="/teacher/messages" id="v-pills-messages-tab" role="tab">Wiadomości</a>

            <a aria-controls="v-pills-logout" aria-selected="false" class="nav-link"
               href="/logout" id="v-pills-logout-tab" role="tab">Wyloguj</a>

        </div>
    </div>

    <div class="container">
        <br>
        <h3> Lista uczniów wraz z rodzicami</h3>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="tab-content" id="v-pills-tabContent-subjects">
                    <div aria-labelledby="v-pills-grups-tab" class="tab-pane fade show active" id="v-pills-grups"
                         role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Lp.</th>
                                <th scope="col">Klasa</th>
                                <th scope="col">Imię ucznia</th>
                                <th scope="col">Nazwisko ucznia</th>
                                <th scope="col">Rodzice</th>
                            </tr>
                            </thead>
                            <tbody th:each="grup : ${grupsList}">
                            <tr th:each="user : ${grup.students}">
                                    <input name="id" th:value="${user.id}" type="hidden">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${grup.name}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.surname}"></td>
                                    <td><span th:each="parent : ${user.parents}"
                                              th:utext="${parent.name} + ' ' + ${parent.surname} + '<br />' "></span>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <h3> Dodawanie rodziców</h3>
        <br>
        <div class="row">
            <div class="col-8">
                <div class="tab-content" id="v-pills-tabContent-addparent">
                    <div aria-labelledby="v-pills-addparent-tab" class="tab-pane fade show active"
                         id="v-pills-addparent" role="tabpanel">
                        <form id="addParent" method="post" th:action="@{/teacher/parents}" th:object="${userToInsert}">

                            <div>
                                <label>Wybierz ucznia</label>
                                <select class="custom-select" th:field="*{id}">
                                    <option th:each="student : ${studentsList}"
                                            th:text="${student.name} + ${ student.surname}"
                                            th:value="${student.id}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Wybierz rodzica</label>
                                <select class="custom-select" th:field="*{tempParentId}">
                                    <option th:each="parent : ${parentsList}"
                                            th:text="${parent.name} + ${ parent.surname}"
                                            th:value="${parent.id}">
                                    </option>
                                </select>
                            </div>
                        </form>
                        <button class="btn btn-primary" form="addParent" name="action" type=submit value="add">
                            Dodaj
                            rodzica
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <h3> Usuwanie rodziców</h3>
        <br>
        <div class="row">
            <div class="col-8">
                <div class="tab-content" id="v-pills-tabContent-deleteparent">
                    <div aria-labelledby="v-pills-deleteparent-tab" class="tab-pane fade show active"
                         id="v-pills-deleteparent" role="tabpanel">
                        <form id="deleteParent" method="post" th:action="@{/teacher/parents}"
                              th:object="${userToInsert}">

                            <div>
                                <label>Wybierz ucznia</label>
                                <select class="custom-select" th:field="*{id}">
                                    <option th:each="student : ${studentsList}"
                                            th:text="${student.name} + ${ student.surname}"
                                            th:value="${student.id}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Wybierz rodzica</label>
                                <select class="custom-select" th:field="*{tempParentId}">
                                    <option th:each="parent : ${parentsList}"
                                            th:text="${parent.name} + ${ parent.surname}"
                                            th:value="${parent.id}">
                                    </option>
                                </select>
                            </div>
                        </form>
                        <button class="btn btn-primary" form="deleteParent" name="action" type=submit
                                value="delete">Usuń rodzica
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>